<% content_for :title do %>NextGen Code<% end %>
<div class="gridster">
<center><div style="font-size: 15px">&nbsp;</div></center>
<center><div style="color:#04B404" style="font-size: 95px">Next Gen Synthetic Test Code</div></center>
<ul>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/oapi_image';">
  <div data-id="currentgen_widget"  data-view="Text" style="background-color:#4d7b58" data-title="OAPI Code" </div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/tpo_ep3_image';">
  <div data-id="currentgen_widget"  data-view="Text" style="background-color:#4d7b58" data-title="TPO Connect EP3 Code" </div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/tpo_ep9_image';">
  <div data-id="currentgen_widget"  data-view="Text" style="background-color:#4d7b58" data-title="TPO Connect EP9 Code" </div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/ngcr_image';">
  <div data-id="currentgen_widget"  data-view="Text" style="background-color:#4d7b58" data-title="Next Gen Concept Release Code" </div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/loconnect_image';">
  <div data-id="currentgen_widget"  data-view="Text" style="background-color:#4d7b58" data-title="LO Connect Code" </div>
</li>



<!--
<li data-row="3" data-col="3" data-sizex="3" data-sizey="1">
<img src="assets/OAPI.jpg">
</li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='';">
  <div data-id="allregs_widget"  data-view="Text" data-title="AllRegs" </div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='';">
  <div data-id="allregs_widget"  data-view="Text" data-title="AllRegs" </div>
</li>
-->

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/monitis';">
    <div data-id="gohome_widget" data-view="Text" data-title="Go DashBoard Home"</div>
 </li>



  </ul>
<center><div style="font-size: 15px">&nbsp;</div></center>
<center><div style="font-size: 15px">Click Any Box</div></center>
<center><div style="font-size: 15px">Live Data(Every 60s)</div></center>
<center><div style="font-size: 15px">&nbsp;</div></center>
</div>
