<% content_for :title do %>SRE Monitis Dashboard<% end %>
<div class="gridster">
<center><div style="font-size: 15px">&nbsp;</div></center>
<center><div style="color:#04B404" style="font-size: 95px">SRE Monitis DashBoard</div></center>
<center><div style="color:#FF0000" style="font-size: 15px">-Data Source-</div></center>
<center><div style="font-size: 15px">Monitis.com</div></center>
  <ul>


<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/nextgen';">
  <div data-id="nextgen_widget"  data-view="Text" data-title="Next Gen" </div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/currentgen';">
  <div data-id="currentgen_widget"  data-view="Text" data-title="Current Gen" </div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/table';">
  <div data-id="currentgen_widget"  data-view="Text" data-title="Alerts" </div>
</li>
<!--
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/images';">
  <div data-id="currentgen_widget"  data-view="Text" data-title="Dev Corner" </div>
</li>
<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="alerts" data-view="List" data-unordered="true" data-title="Latest Alert - Click For Details" data-moreinfo="Sent to NOC"  onclick="location.href='http://<%=request.host%>:<%=request.port%>/table';"></div>
    </li>


<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/monitis';">
    <div data-id="gohome_widget" data-view="Text" data-title="Go DashBoard Home"</div>
 </li>
-->

  </ul>
<center><div style="font-size: 15px">&nbsp;</div></center>
<center><div style="font-size: 15px">Click Any Box</div></center>
<center><div style="font-size: 15px">Live Data(Every 60s)</div></center>
<center><div style="font-size: 15px">&nbsp;</div></center>
</div>
