<% content_for :title do %>NextGen SLA Dashboard<% end %>
<div class="gridster">
<center><div style="font-size: 15px">&nbsp;</div></center>
<center><div style="color:#04B404" style="font-size: 95px">SLA Next Gen Products(Last 30 days)</div></center>
<center><div style="color:#FF0000" style="font-size: 15px">-Data Source-</div></center>
<center><div style="font-size: 15px">Monitis.com</div></center>
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tpo_ep3" data-view="Meter" data-title="TPO Connect EP3" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="" onclick="location.href='http://dashboard.monitis.com/sharedPage.jsp?tI=Y9hvqpvTyxX79LpzwTecmg%253D%253D&uI=UMJ2tHGaUrGG%25252F6jZfOwA5pjop0%252B2N1CEPS6XwYikzY0%253D';"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tpo_ep9" data-view="Meter" data-title="TPO Connect EP9" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="" onclick="location.href='http://dashboard.monitis.com/sharedPage.jsp?tI=Y9hvqpvTyxX79LpzwTecmg%253D%253D&uI=UMJ2tHGaUrGG%25252F6jZfOwA5pjop0%252B2N1CEPS6XwYikzY0%253D';"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lo_connect" data-view="Meter" data-title="LO Connect" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="" onclick="location.href='http://dashboard.monitis.com/sharedPage.jsp?tI=1QhXYNIgGOSwQi%25252Fy5%25252FfMLg%253D%253D&uI=UMJ2tHGaUrGG%25252F6jZfOwA5pjop0%252B2N1CEPS6XwYikzY0%253D';"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="oapi" data-view="Meter" data-title="OAPI Dev Connect" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="" onclick="location.href='http://dashboard.monitis.com/sharedPage.jsp?tI=0VQYfMl%25252FQUfOC%25252FSDc32t1A%253D%253D&uI=UMJ2tHGaUrGG%25252F6jZfOwA5pjop0%252B2N1CEPS6XwYikzY0%253D';"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ngcr" data-view="Meter" data-title="NG Concept Release" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="" onclick="location.href='http://dashboard.monitis.com/sharedPage.jsp?tI=VvqxZwh7XSaEZng1m668sQ%253D%253D&uI=UMJ2tHGaUrGG%25252F6jZfOwA5pjop0%252B2N1CEPS6XwYikzY0%253D';"></div>
    </li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/images';">
  <div data-id="currentgen_widget"  style="background-color:#4d7b58" data-view="Text" data-title="-Dev Corner- Protractor Code Used for Synthetic Tests" </div>
</li>

<!--
   <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="alerts" data-view="List" data-unordered="true" data-title="Latest Alert - Click For Details" data-moreinfo="Sent to NOC"  onclick="location.href='http://<%=request.host%>:<%=request.port%>/table';"></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="alerts" data-view="List" data-unordered="true" data-title="Last Alerts Sent to NOC - Click for Details" data-moreinfo=""  ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="monitis-recent-alerts" data-view="Monitis" data-title="Monitis alerts" data-moreinfo=""></div>
            <i class="icon-bell icon-background"></i>
     </li>
-->
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/monitis';">
    <div data-id="gohome_widget" data-view="Text" data-title="Go DashBoard Home"</div>
 </li>



  </ul>
<center><div style="font-size: 15px">&nbsp;</div></center>
<center><div style="font-size: 15px" style="color:#FF0000"  style="font-size: 15px" class="blink">Click Any SLA Box for Details</div></center>
<center><div style="font-size: 15px" >Live Data(Every 60s)</div></center>
<center><div style="font-size: 15px">&nbsp;</div></center>
</div>
